<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyzzcw.stupid.spring.statemachine.mapper.OrderMapper">
    <select id="selectById"  resultType="lyzzcw.stupid.spring.statemachine.domain.Order">
        select * from `order` where id = #{id}
    </select>

    <insert id="insert" parameterType="lyzzcw.stupid.spring.statemachine.domain.Order" useGeneratedKeys="true" keyProperty="id">
        insert into `order`
            (id,order_code,`status`,`name`,price,delete_flag,create_time,update_time,create_user_code,update_user_code,remark)
        values
            (#{id},#{orderCode},#{status},#{name},#{price},#{deleteFlag},#{createTime},#{updateTime},#{createUserCode},#{updateUserCode},#{remark})
    </insert>

    <update id="updateById" parameterType="lyzzcw.stupid.spring.statemachine.domain.Order">
        update `order`
        <set>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>